<header class="header-section">
  <div class="header-content-wrap container">
    <button class="open-menu-btn" type="button"><img src="./img/mobile/burger-menu.png" alt=""></button>
    <button class="close-menu-btn" type="button"><img src="./img/mobile/burger-close-menu.png" alt=""></button>
    <ul class="header-list-hidden">
      <li class="header-list-item">
        <a href="/#hero" class="header-list-link">Donut Grid Emergency</a>
      </li>
      <li class="header-list-item">
        <a href="/#jam" class="header-list-link">How the Jam Began</a>
      </li>
      <li class="header-list-item">
        <a href="/#gameplay" class="header-list-link">Gameplay Loop Explained</a>
      </li>
      <li class="header-list-item">
        <a href="/#mechanics" class="header-list-link">Sweet Mechanics</a>
      </li>
      <li class="header-list-item">
        <a href="/#gallery" class="header-list-link">3D Dessert Parade</a>
      </li>
      <li class="header-list-item">
        <a href="/#reviews" class="header-list-link">Reviews</a>
      </li>
      <li class="header-list-item">
        <a href="/#faq" class="header-list-link">FAQ</a>
      </li>
    </ul>
  </div>
</header>

<div class="backdrop container">
  <ul class="backdrop-list">
    <li class="backdrop-list-item">
      <a href="/#hero" class="backdrop-list-link">Donut Grid Emergency</a>
    </li>
    <li class="backdrop-list-item">
      <a href="/#jam" class="backdrop-list-link">How the Jam Began</a>
    </li>
    <li class="backdrop-list-item">
      <a href="/#gameplay" class="backdrop-list-link">Gameplay Loop Explained</a>
    </li>
    <li class="backdrop-list-item">
      <a href="/#mechanics" class="backdrop-list-link">Sweet Mechanics</a>
    </li>
    <li class="backdrop-list-item">
      <a href="/#gallery" class="backdrop-list-link">3D Dessert Parade</a>
    </li>
    <li class="backdrop-list-item">
      <a href="/#reviews" class="backdrop-list-link">Reviews</a>
    </li>
    <li class="backdrop-list-item">
      <a href="/#faq" class="backdrop-list-link">FAQ</a>
    </li>
    <li class="backdrop-list-item">
      <a href="./terms.html" class="backdrop-list-link">Terms and conditions</a>
    </li>
    <li class="backdrop-list-item">
      <a href="./privacy.html" class="backdrop-list-link">Privacy policy</a>
    </li>
    <li class="backdrop-list-item">
      <a href="./cookies.html" class="backdrop-list-link">Cookies Policy</a>
    </li>
  </ul>
</div>
