<header class="header-section">
  <div class="header-content-wrap container">
    <ul class="header-list">
      <li class="header-list-item">
        <a href="#" class="header-list-link">Donut Grid Emergency</a>
      </li>
      <li class="header-list-item">
        <a href="#" class="header-list-link">How the Jam Began</a>
      </li>
      <li class="header-list-item">
        <a href="#" class="header-list-link">Gameplay Loop Explained</a>
      </li>
      <li class="header-list-item">
        <a href="#" class="header-list-link">Sweet Mechanics</a>
      </li>
      <li class="header-list-item">
        <a href="#" class="header-list-link">3D Dessert Parade</a>
      </li>
      <li class="header-list-item">
        <a href="#" class="header-list-link">Reviews</a>
      </li>
      <li class="header-list-item">
        <a href="#" class="header-list-link">FAQ</a>
      </li>
      <li class="header-list-item">
        <a href="#" class="header-list-link">Terms and conditions</a>
      </li>
      <li class="header-list-item">
        <a href="#" class="header-list-link">Privacy policy</a>
      </li>
      <li class="header-list-item">
        <a href="#" class="header-list-link">Cookies Policy</a>
      </li>
    </ul>
  </div>
</header>
