<section class="hero-section" id="hero">
  <div class="hero-content-wrap container">
    <div class="hero-content">
      <img class="hero-logo" src="./img/mobile/hero-logo.png" alt="" />
      <h1 class="hero-title">Too many donuts. <br> Not enough space. Fix it.</h1>
      <p class="hero-text">
        Stack, squeeze, rotate and shove your way through dangerously delicious
        physics puzzles. Your goal? Empty your stockpile before the shop bursts.
      </p>
      <a href="#"><img class="download-btn-img" src="./img/download-btn.png" alt=""></a>
    </div>
  </div>
</section>
