<section class="mechanics" id="mechanics">
  <div class="mechanics-content-wrap container">
    <h2 class="mechanics-title">Sweet Mechanics</h2>
    <p class="mechanics-text">
      Each mechanic introduced gradually. Combined? Total chaos.
    </p>
    <div class="mechanics-list-wrapper">
      <ul class="mechanics-list">
        <li class="mechanics-list-item">
          <h3 class="mechanics-list-title">Bouncy Donuts</h3>
          <p class="mechanics-list-text">Rebound off walls, ruin plans</p>
        </li>
        <li class="mechanics-list-item">
          <h3 class="mechanics-list-title">Jam Tiles</h3>
          <p class="mechanics-list-text">Sticky tiles slow you down</p>
        </li>
        <li class="mechanics-list-item">
          <h3 class="mechanics-list-title">Hard Candy Blocks</h3>
          <p class="mechanics-list-text">Unmovable, annoying</p>
        </li>
      </ul>
      <ul class="mechanics-list mechanics-list-2">
        <li class="mechanics-list-item">
          <h3 class="mechanics-list-title">Spinning Plates</h3>
          <p class="mechanics-list-text">Rotate mid-air on collision</p>
        </li>
        <li class="mechanics-list-item">
          <h3 class="mechanics-list-title">Croissant Bombs</h3>
          <p class="mechanics-list-text">Don't ask</p>
        </li>
      </ul>
    </div>
  </div>
</section>
