<section class="reviews-section" id="reviews">
  <div class="reviews-content-wrap container">
    <h2 class="reviews-title">Reviews</h2>
    <div class="reviews-swiper swiper">
      <ul class="reviews-swipper-wrapper swiper-wrapper">
        <li class="reviews-swiper-slide swiper-slide">
          <img
            class="reviews-user-img"
            src="./img/user-avatar-1.png"
            alt="user avatar"
          />
          <div class="reviews-slide-wrap">
            <h3 class="reviews-swiper-title">ChefSimmer44</h3>
            <p class="reviews-swiper-text">
              "I downloaded this as a joke. 97 levels later, I'm questioning
              everything I know about geometry and snack storage."
            </p>
            <img class="stars" src="./img/stars.png" alt="" />
          </div>
        </li>
        <li class="reviews-swiper-slide swiper-slide">
          <img
            class="reviews-user-img"
            src="./img/user-avatar-2.png"
            alt="user avatar"
          />
          <div class="reviews-slide-wrap">
            <h3 class="reviews-swiper-title">PerfectStacks</h3>
            <p class="reviews-swiper-text">
              "There is no greater joy than fitting a cinnamon ring under a
              jelly torus. This game is therapy."
            </p>
            <img class="stars" src="./img/4stars.png" alt="" />
          </div>
        </li>
        <li class="reviews-swiper-slide swiper-slide">
          <img
            class="reviews-user-img"
            src="./img/user-avatar-3.png"
            alt="user avatar"
          />
          <div class="reviews-slide-wrap">
            <h3 class="reviews-swiper-title">FrostyBrain</h3>
            <p class="reviews-swiper-text">
              "I almost beat Level 28. Then a jelly cube slipped and collapsed
              the whole thing. 10/10 would cry again."
            </p>
            <img class="stars" src="./img/stars.png" alt="" />
          </div>
        </li>
        <li class="reviews-swiper-slide swiper-slide">
          <img
            class="reviews-user-img"
            src="./img/user-avatar-4.png"
            alt="user avatar"
          />
          <div class="reviews-slide-wrap">
            <h3 class="reviews-swiper-title">SpatialDad</h3>
            <p class="reviews-swiper-text">
              "This is like if Sokoban got frosting and bad intentions.
              Beautiful."
            </p>
            <img class="stars" src="./img/stars.png" alt="" />
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
