.footer-content-wrap {
  background: var(--radial-gold-gradient);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-text {
  font-weight: 500;
  font-size: 16px;
  color: #130000;
}

.footer-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  @include media(desktop) {
    flex-direction: row;
    gap: 20px;
  }
}

.footer-list-link {
  font-weight: 600;
  font-size: 18px;
  text-transform: capitalize;
  color: #130000;
}
