.jam-began-content-wrap {
  background-image: url('../img/mobile/jam-began-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 55px;

  @include media(desktop) {
    background-image: url('../img/desktop/jam-began-desktop-bg.png');
    padding-top: 100px;
    padding-left: 120px;
    padding-bottom: 177px;
  }
}

.jam-began-title {
  font-size: 32px;
  text-transform: uppercase;
  color: #130000;
}

.jam-began-subtitle {
  font-weight: 600;
  font-size: 22px;
  color: #ff9000;
  margin-top: 22px;
}

.jam-began-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.44444;
  color: #130000;
  margin-top: 36px;
  @include media(desktop) {
    width: 783px;
  }
}

.jam-list-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 22px;
  @include media(desktop) {
    flex-direction: row;
    gap: 38px;
    max-width: 1200px;
    margin-top: 50px;
  }
}

.jam-list {
  display: flex;
  flex-direction: column;
  gap: 22px;
  @include media(desktop) {
    gap: 38px;
    width: 100%;

  }
}

.jam-list-2 {
  margin-top: 22px;
  @include media(desktop) {
    margin: 0;
  }
}

.jam-list-item {
  border: 1px solid #fff;
  border-radius: 12px;
  padding: 22px;
  background: linear-gradient(90deg, #ffd500 0%, #ff9000 100%);
  @include media(desktop) {
    max-width: 581px;
  }
}

.jam-list-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.44444;
  color: #130000;
  @include media(desktop) {
    text-align: center;
  }
}
