.reviews-content-wrap {
  background: linear-gradient(180deg, #fbdb45 0%, #ff9b0a 100%);
  padding-top: 30px;
  padding-bottom: 123px;
  @include media(desktop) {
    padding-top: 100px;
    padding-bottom: 176px;
  }
}

.reviews-title {
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  color: #130000;
}

.reviews-swiper {
  margin-top: 35px;
  @include media(desktop) {
    position: relative;
    left: -18px;
    width: calc(100% + 36px);
    overflow: hidden;
    margin-top: 50px;
  }
}

.reviews-swiper .reviews-swiper-slide {
  width: 335px;
  height: 361px;
  box-sizing: border-box;
  border: 1px solid #fff;
  background: #ff9001;
  border-radius: 22px;
  padding: 22px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  @include media(desktop) {
    width: 500px;
    height: 224px;
    flex-direction: row;
    gap: 32px
  }
}

.reviews-swiper-slide {
  @include media(desktop) {
    display: flex;
    flex-direction: column;
  }
}

.reviews-user-img {
  width: 125px;
  height: 125px;
}

.reviews-slide-wrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.reviews-swiper-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18182;
  color: #130000;
}

.reviews-swiper-text {
  font-weight: 400;
  font-size: 16px;
  color: #000;
  @include media(desktop) {
    height: 78px;
  }
}

.stars {
  width: 173px;
  height: 40px;
  margin-top: 20px;
}


